__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
dist/
build/
*.egg-info/
.mypy_cache/
.ruff_cache/
project_artifacts/**/logs/*
project_artifacts/**/results/*
project_artifacts/**/checkpoints/*
!project_artifacts/**/logs/.gitkeep
!project_artifacts/**/results/.gitkeep
!project_artifacts/**/checkpoints/.gitkeep

